.navbar{
    background:rgb(40, 126, 255);
   }
   .nav-link , .navbar-brand{
    color: #f4f4f4;
    cursor: pointer;
   }
   .navbar-brand:hover{
    border-radius: 50%;
    padding: 5px;
    background: #f4f4f4;
    cursor: pointer;
   }

   .nav-link{
    margin-right: 2em !important;
   }
   .nav-link:hover{
    border-radius: 30%;
    background: #f4f4f4;
    color: rgb(40, 126, 255);
   }
   .navbar-collapse{
    justify-content: flex-end;
   }
   .navbar-toggler{
     background:#fff !important;
   }

   .overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
   }

   .description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
.description h1{
 color:#F97300 ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #F97300;
 background:#F97300;
 color:#fff;
}